 <div class="header">
      <a href="#default" class="logo">Book Collection</a>
      <div class="header-right">
        <!--<a class="active" href="#home">Home</a> -->
        <%= link_to "Home", '/', class: "btn button", form_class: "form-inline form-horizontal" %>
        <%= link_to "Login", '#', class: "btn button", form_class: "form-inline form-horizontal" %>
        <%= link_to "Sign_up", '#', class: "btn button", form_class: "form-inline form-horizontal" %>
      </div>
    </div>