  <p style = "text-align: justify;">
    Books are the gates of our deepest thoughts. The deep unknown which we visit before bed, in the shower or when we want to be alone. Where everything is as it should not be, but nothing exist what it should be. No one will tell us off for the water being green and the sky being grey. Rain can be rainbow and pigs can fly. Books are the blueprints to widen our world and learn other people’s little secrets. Each and every book opens up a new universe in which we can immerse ourselves in to it. Reading is a gift and sharing our thoughts with it is as elevating as emerging from the depths of the blue water. 
  </p>




